.corners {
         -fx-background-color: #CCCCCC;
         -fx-background-image:url("bg.png");
         -fx-background-position: center center;
         -fx-background-repeat: no-repeat;
         -fx-border-color: #999999;
         -fx-background-radius: 10;
         -fx-background-image-radius: 10;
         -fx-border-radius: 10;

         }

.borders {
    -fx-border-width:1;
    -fx-border-color: #555555;
}

.shadow {
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0.3, 0, 0);
}

.padding {
-fx-padding: 50px;
}
